__pycache__/
*.pyc
.server.pid
.cloud-test/
.cloud-test-routes/
.cloud-prod-test/
.free-cloud-test/
.pythonanywhere-test/
.workflow-test/
.routes-test/
.asientos-test/
tenis_club.db
instance/
.env
*.zip
static/img/*
!static/img/logo.png
